button{
    width: 100px;
    height: 50px;
    margin: 20px;
}

.anim{
    box-shadow: 0 25px 40px 0 tomato;
    opacity: 5;
}

.divide{
    background-color: brown;
    height: 20rem ;
    width: 20rem;
}

.divdrag{
    background-color: darkcyan;
    height: 10rem;
    width:20rem;
}